@model HomeViewModel

<!--The image carousel-->
<partial name="_Carousel" />

<!--Pies of the week section-->
<h2>Pies of the week</h2>
<h4>Our weekly selection - just for you!</h4>

<div class="row">

    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }

</div>